* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(205, 238, 248);
}

header {
    background: blue;
    padding: 20px;
}

h1 {
    background-color: blue;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.scoreboard {
    margin: 20px auto;
    border: 5px solid black;
    width: 300px;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    position: relative;
}

.tag {
    padding: 2px 2px;
}

#player {
    position: absolute;
    padding-left: 10px;
    top: 0px;
    left: 0px;
}

#computer {
    position: absolute;
    padding-right: 10px;
    top: 0px;
    right: 0px;
}

.win, .lose {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

#evilcomputer {
    max-width: 340px;
    max-height: 260px;
    margin-left: 32%;
}

.container {
    text-align: center;
    margin: 100px;
}

.subcontainer {
    display: inline-flex;
    border: 0px;
}

.subcontainer:hover {
    cursor: pointer;
}

#r, #p, #s {
    height: 150px;
    width: 150px;
    border: 0px;
    margin: 10px;
}

